@if (card.locked) {
    <div
        class="aspect-4/3 flex flex-col items-center justify-between"
        [ngClass]="{locked: card.locked, unlocked: !card.locked}"
    >
        <div class="flex flex-row items-center">
            <img src="lock.svg" alt="Lock" class="p-2 w-10 h-10" />
            @if (card.releaseType == "TIMED") {
                Revealed at {{ card.releaseTime }}
            }
        </div>
        <div class="flex flex-col items-center mb-2">
            <div class="text-8xl">
                {{ getDay(card) }}
            </div>
            <div class="text-2xl">
                {{ getMonth(card) }}
            </div>
        </div>
    </div>
} @else {
    <div class="aspect-4/3">
        <div class="img-container">
            <img [src]="card.image" style="max-width: 100%" />
        </div>
        <div class="date-container">{{ getDay(card) }} {{ getMonth(card) }}</div>
    </div>
}
